*{
    margin: 0;
}
.container{
    background-image: url("https://wallpaperaccess.com/full/1356114.jpg");
    color: white;
}
.all{
    display: flex;
    justify-content: space-between;
}
.firstDiv{
    font-size: 40px;
}
.texts{
    display: flex;
    flex-direction: row;
    font-size: 30px;
   
}
.texts p{
    padding: 10px;
    margin: 0;
}
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 100%;
    font-weight: 900;
}
.header{
    position: fixed;
    width: 100%;
}
section{
    height: 100vh;
}